mixin advantage(advantage)
    .advantage(class= attributes.class)
        .advantage__img 
            img.src(src=advantage.img alt= advantage.name) 
        .advantage__caption
            .advantage__name= advantage.name
            .price Бесплатно