.button {
  display: inline-flex;
  appearance: none;
  min-width: 260px;
  height: 60px;
  padding: 0 20px;
  justify-content: center;
  align-items: center;

  @include font(m, 600);
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  font-family: inherit;

  background-color: color(main);
  color: white;

  border-radius: 10px;
  border: 1px solid color(main);

  flex-shrink: 0;

  transition: background-color 0.2s ease-out;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    background-color: color(hover);
  }

  &_light{
    background-color: transparent;
    color: color(main);
    border-color: currentColor;
    &:hover{
      color: white;
    }
  }
  &_compact{
    min-width: 200px;
    height: 40px;
    @include font(s);
    text-transform: uppercase;
  }
  
}