:root{
    --main: #297FFF;
    --background: #E5E5E5;
    --text: #14233D;
    --text-muted: #ABB1C5;
}

$colors: (
    main: var(--main),
    bg: var(--background),
    text: var(--text),
    text-muted: var(--text-muted)
);
@function color($name){
    @return map-get($map: $colors, $key: $name);
}