:root{
    --main: #297FFF;
    --hover: #005EFF;
    --background: #E5E5E5;
    --text: #14233D;
    --text-muted: #ABB1C5;
    --line: #DDE3EB;
}

$colors: (
    main: var(--main),
    hover: var(--hover),
    bg: var(--background),
    text: var(--text),
    text-muted: var(--text-muted),
    line: var(--line)
);
@function color($name){
    @return map-get($map: $colors, $key: $name);
}