mixin form-group(props)
    label.form-group.group
        span.label.group__label.form-group__label= props.label
        .group__content.form-group__input
            input.input&attributes(attributes)
            if (attributes.type == 'password')
                a.form-group__icon.icon.icon-password.js-password-toggle(href="#") 
