extends /layout/template
block content
    include /components/advantage/img/clip.svg
    .row
        .title hjkjhasd
        .advantages  
            +advantage({name:"Фонарик",img:"img/advantage/img/1.png"}).advantages__item
            +advantage({name:"Шлем",img:"img/advantage/img/2.png"}).advantages__item
            +advantage({name:"Замок",img:"img/advantage/img/3.png"}).advantages__item
            