mixin checkbox(label)
    label.checkbox
        input.checkbox__origin(type="checkbox")&attributes(attributes)
        span.checkbox__checkbox.icon-button
            svg(viewBox='0 0 20 20' fill='none')
                path(d='M6 10L8.99951 13L13.9995 8' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
        span.checkbox__label= label