@import
'./mixins',
'./defines/colors',
'./defines/text',
'./normalize',
'./fonts',
'./basic' ;

@import
'./includes';

@import 
'../../components/button/button',
'../../components/status/status.scss',
'../../components/label/label.scss',
'../../components/link/link.scss',
'../../components/input/input',
'../../components//checkbox/checkbox',
'../../components/radio/radio',
'../../components/icon/icon',
'../../components/tabs/tabs',
'../../components/price/price',
'../../components/group/group',
'../../components/form/form',
'../../components/form-group/form-group'
;

@import 
'../../components/advantage/advantage',
'../../components/advantage/advantages'